<link rel="stylesheet" href="css/output.css" />
<link rel="stylesheet" href="css/style.css" />

<nav class="bg-black text-white font-mono rounded drop-shadow-xl static w-full h-12 flex justify-around">
<div class="logo ms-4"><img src="img/light-logo.png" alt="" srcset=""></div>
  <ul class="flex justify-around text-xl w-full">
    <li class="hover:text-purple-400"><a href="./">Home</a></li>
    <li class="hover:text-purple-400"><a href="./blogs">Blogs</a></li>
    <li class="hover:text-purple-400"><a href="./projects">Projects</a></li>
    <li class="hover:text-purple-400"><a href="./about-me">About me</a></li>
  </ul>
</nav>
