<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog App with tailwind</title>
  <link rel="stylesheet" href="css/output.css">
</head>
<body class="">

  <%- include("./header.ejs") %>

  <h1 class="text-3xl">this is projects page</h1>