<footer class="h-16 bg-white mt-4 flex justify-around">
    <div class="">
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
    </div>
    <p>&copy; Wanderlust | All Rights Reserved</p>
</footer>